<html>
<head>
<title>Contact Us</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="./static/style.css"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body ng-app="">
    <nav class="menu" id="Home">
        <ul>
          <li><a href="index.html">Home</a></li>
           <li><a href="index.html#Movies">Movies</a></li>
            <li><a href="web-series.html">Web Series</a></li>
             <li><a href="kids.html">Kids</a></li>
              <li><a href="dummy.html">TV</a></li>
               <li><a href="dummy.html">Premium</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
        </ul>
        <form class="search-form">
          <input type="text" placeholder="Search">
          <button>Search</button>
      </nav>

  <div class="box">
    <div class="c_logo">
      <img src="./Images/logo.jpg">
    </div>
    <div class="text">
    <h1>Contact <span class="red">Us</span></h1>
    <hr class="redline">
    <p>Have Questions ? We have answers ( may be )</p>
    </div>
  </div>

  <div class="touch">
    <h2>Get in touch</h2>
    <hr class="redline">
  </div>
  
  <form action="" method="POST" name="contact-form">
  <div class="container form-margin">
    <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>     <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="form-group">
    <input type="text" class="form-control" placeholder="First Name" ng-model="firstname" name="firstname" required>    
      </div>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Phone" ng-model="phone" name="firstname" required>    
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="form-group">
    <input type="text" class="form-control" placeholder="Last Name" ng-model="lastname" name="lastname" required>    
      </div>
      <div class="form-group">
    <input type="email" class="form-control" placeholder="E-mail" ng-model="email" name="email" required>    
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="form-group">
    <textarea class="form-control" rows="6" placeholder="Message" ng-model="message" name="message" required></textarea>
  </div>  
      <div class="pager">
      <button type="submit" class="btn btn-success">SEND MESSAGE</button>
      </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
  
  </div>
  </form>
  <!--address-->

  <div class="container address">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h3>Our Address</h3>
      <div class="redline-address"></div>
      <p>13 B</p>
      <p>King Koti Road</p>
      <p>Vadodara,</p>
      <p>Gujrat - 500029</p>
      <div class="phone-e">
      <p><span class="glyphicon glyphicon-envelope"> </span> info@movie-website.com</p>
      <p><span class="glyphicon glyphicon-phone"></span> +91-97427 66666</p>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
      <!--map-->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.019213593812!2d77.62060731482127!3d12.906485990898592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae14eed2a26dbb%3A0x98f64960052a26b0!2sTrainingMug!5e0!3m2!1sen!2sin!4v1504259922701" 
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

  </div>
  
  <div class="bottom-gap"></div>
  <div id="waterdrop"></div>
  <footer class="footer-distributed">
          

    <div class="footer-right">

      <a href="#"><i class="fab fa-facebook-f facebook"></i></a>
      <a href="#"><i class="fab fa-twitter twitter"></i></a>
      <a href="#"><i class="fab fa-telegram telegram"></i></a>
      <a href="https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website"><i class="fab fa-github github"></i></a>

    </div>

    <div class="footer-left">

      <p class="footer-links">
        <a class="link-1" href="#">Home</a>
        <a href="contactus.html">Contact</a>
      </p>
              <p>Copyright &copy; and &reg; Since 2021 Under ApnaTheatre.com : (Project Is Done By Qazi Maaz Arshad)</p>
    </div>

  </footer>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://daniellaharel.com/raindrops/js/raindrops.js"></script>

<script> jQuery('#waterdrop').raindrops({color:'#292c2f', canvasHeight:150, density: 0.1, frequency: 20});
</script>
  
</body>
</html>
