* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.post-container,
.posts-container {
  align-items: center;
  margin-left: 20px;
  width: 1130px;
}

.langdrops {
  position: fixed;
  list-style-type: none;
  background: rgb(27, 27, 27);
  display: block;
  width: 125px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.langdrop {
  position: absolute;

  list-style-type: none;
  background: rgb(27, 27, 27);
  display: block;
  width: 125px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.langdrop1:hover .langdrop,
.langdrop1:hover .langdrops {
  opacity: 1;
  visibility: visible;
}
.lang {
  left: 0;
  list-style-type: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 18px;
}
.lang a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1000px) {
  .langdrop {
    width: 100%;
    z-index: 1;
  }
  .langdrops {
    width: 100%;
    z-index: 1;
  }
}
@media (max-width: 700px) {
  .post-container {
    margin-left: 0px;
  }
}
