*{
  font-family: 'Ubuntu', sans-serif;
}
.poster, .movie_card {
  box-shadow: 0 0 10px rgb(219, 215, 215) !important;

}

/* light toggle theme  */
body.light {
    background-color: #fff!important;
    color: #000!important;
  
  }
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    margin: 0px 15px ;
    width: 50px;
    height: 26px;
    background-color:rgb(206, 200, 200);
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
  }
  
  .ball {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: pink;
  }
  
  .fa-sun {
    color: yellow;
  }

  h1,h3,a,p{
      color: #000!important;
  }

  marquee,label,.dropdown-content{
      background-color: #fff;
  }