body{
  background: black;
  margin: 0;
}
.menu{
  width: 100%;
  background: black;
  overflow: auto;
}
.menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 60px;
}
.menu li{
  float: left;
}
.menu ul li a{
  background:black;
  text-decoration: none;
  width: 140px;
  display:block;
  text-align: center;
  color: whitesmoke;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.menu li a:hover{
  color:red;
  opacity:0.5;
  font-size: 18px;
}
.search-form{
  margin-top:15px;
  float:right;
  margin-right: 100px;
}
input[type=text]{
  padding: 7px;
  border:none;
  font-size: 16px;
}
button{
  float:right;
  background:red;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  position:relative;
  padding:7px;
  border: none;
  font-size: 16px;
}
marquee{
	color:red;
	font-size: 25px;
	font-family:Arial;
  background: black;
}
.logo{
	width:200px;
	height:100px;
	padding:20px;
	float:left;
  background: black;
	transform:scale(1);
	transition-property:width;
	transform:translateY(0px);
	transition-duration:5s,5s;
	transition:transform 4s,4s;
}
.logo:hover{
	width:300px;
	transform:translateY(-30px);
}
.online{
	color:red;
	font-size: 50px;
	padding: 40px;
	float:center;
  background: black;
}
.menu2{
  width: 100%;
  background: black;
  overflow: auto;
}
.menu2 ul{
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 50px;
}
.menu2 li{
  float: left;
}
.menu2 ul li a{
  background:black;
  text-decoration: none;
  width: 120px;
  display:inline-block;
  word-spacing: 0px;
  text-align: center;
  color: whitesmoke;
  font-size: 16px;
  letter-spacing: 0px;
}
.menu2 li a:hover{
  color:red;
  opacity:0.5;
  background: black;
  font-size: 18px;
}

.exc: hover {
  font-size: 16px !important;
}

.slider-holder
        {
            width: 10000px;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            text-align: center;
            overflow: hidden;
        }
        .image-holder
        {
            width: 2400px;
            background-color:black;
            height: 400px;
            clear: both;
            position: relative;
            transform: translate3d(0, 0, 0);
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s ;
            animation: moveSlideshow 12s linear infinite;
        }
        .slider-image
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
            transform: translate3d(0, 0, 0);
            animation: moveSlideshow 12s linear infinite;
        }
        @keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}

      container{
    background-color:black;
            width: 100%;
            height: 100%;
            margin-left: 50px;
}
.poster{
    margin: 10px 10px 10px 10px ;
    display: inline-block;
    position: relative;
    margin-left: 30px;


}
/* Hover Images */
.poster {
  overflow: hidden;
}
.poster img {
  transition: transform .5s ease;
}
.poster:hover img {
  transform: scale(1.2);
}

.flim{
    text-align: center;
    position: absolute;
    bottom: 0%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
}
.hr{
    width: 95%;
    height: 2px;
    color: black;
}
maincontainer{
    background-color: black;
    margin: -40px 35px 36px 1px;
    width: 100%;
}
   .maincontainer  h2{
    color: red;
    margin-left: 50px;
}
.foot{
    text-align: center;
    background-color: black;
    color: red;
    height: 50px;
    margin: 30px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.buttonmodal button{
  margin-left: 50%;
  margin-top: 10%;
  margin-right: 50%;
  margin-bottom: 50%;
  background:red;
  color: white;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  padding:7px;
  border: none;
  font-size: 25px;
}


/* Contact Us CSS starts*/
.box{
  background: url("https://cdn.pixabay.com/photo/2017/09/17/08/39/curtain-2757815_960_720.png");
  color: white;
  text-align:center;
  z-index:1;
}
.text{
    padding: 100px 0;
}
.box p{
  font-size:18px;
}
.red{
  color:orangered;
}
.redline{
  width:100px;
  height:3px;
  background-color:red;
  border:none;
}
.touch h2{
  padding-top: 20px;
  text-align: center;
  color: #fefefe;
}
.form-margin{
  margin-top: 40px;
}
.left{
  text-align:left;
}
h3{
  font-variant:bold;
  color:#fefefe;
}
.redline-address{
  border:none;
  height:3px;
  background-color:orangered;
  width:140px;
  margin-bottom:20px;
}
.address{
  padding-top: 50px;
}
.address p{
  font-weight:bold;
  color: #afadad;
  margin:3px;
}
.phone-e{
  padding:15px 0;
}
.c_logo img{
  height:100px;
  width:100px;
  z-index:2;
  float:left;
  margin-top:10px;
}
.bottom-gap{
  margin-bottom:100px;
}
/*validation css*/
input.ng-valid {
  background-color:#dff0d8;
}
input.ng-invalid {
    background-color:#f2dede;
}
input.ng-pristine{
  background-color:white;
}
textarea.ng-invalid {
    background-color:#f2dede;
}
textarea.ng-pristine{
  background-color:white;
}
textarea.ng-valid {
  background-color:#dff0d8;
}

/* contact us CSS ends */

.scroll-bar {
	height: auto;
	width: auto;
	margin: auto;
  overflow-y:auto;
  overflow-x: hidden;
	max-width: 100%;
}

::-webkit-scrollbar-track
{
	border: 5px solid #2c2f30;
	// border color does not support transparent on scrollbar
	// border-color: transparent;
	background-color:black;
}

::-webkit-scrollbar
{
	width: 15px;
	background-color: #2c2f30;
}

::-webkit-scrollbar-thumb
{
	background-color:red;
	border-radius: 10px;
}


/* Card style for Kids and web-series page */

#header-nav .nav-link{
  color:white;
  font-size:20px;
  margin-left:20px;

}
#header-nav{
  height:90px;
}

img {
-webkit-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
user-drag: none;
}

img {
pointer-events: none;
}
.movie_card{
padding: 0 !important;
width: 14rem;     
margin:5px;  
border-radius: 20px;
background-color:rgb(15, 15, 73) !important;
color:white;
box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.movie_card img{
  height:16rem;
}
.movie_info{
color: red;
}

.movie_info i{
font-size: 10px;
}
.card-title{
width: 80%;
font-size:15px;
height: 2rem;
}

.section-title{
color: red;
font-size:25px;
margin-bottom:40px;
}
.movie_info_rating{
color:goldenrod;
float:right;
}

