body{
  background: #000000;
  margin: 0;
}
.menu{
  width: 100%;
  background: #000000;
  overflow: auto; 
}

.menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 60px;
}
.menu li{
  float: left; 
}
.menu ul li a{
  background:#000000;
  text-decoration: none;
  width: 140px;
  display:block;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.menu li a:hover{
  color:red;
  opacity:0.5;
  font-size: 18px;
}
.toggle{
  width: 40px;
  height: 20px;
  margin: 20px;
  background: white;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative; 
}
.toggle-icon{
  color: red;
}
.toggle-container{
  width: 18px;
  height: 18px;
  background-color: #000;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}
.search-form{
  margin-top:-44px;
  float:right;
  margin-right: 50px;

}
input[type=text]{
  padding: 7px;
  border:none;
  font-size: 16px;
}
button{
  float:right;
  background:red;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  position:relative;
  padding:7px;
  border: 1px solid #ffffff;
  font-size: 16px;
}
marquee{
	color:red;
	font-size: 25px;
	font-family:Arial;
  background: #000000;
}
.logo{
	width:200px;
	height:100px;
	padding:20px;
	float:left;
  background: #000000;
	transform:scale(1);
	transition-property:width;
	transform:translateY(0px);
	transition-duration:5s,5s;
	transition:transform 4s,4s;
}
.logo:hover{
	width:300px;
	transform:translateY(-30px);
}
.online{
	color:red;
	font-size: 50px;
	padding: 40px;
	float:center;
  background: #000;
}
.menu2{
  width: 100%;
  background: #000000;
  overflow: auto;
}
.menu2 ul{
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 50px;
}
.menu2 li{
  float: left;
}
.menu2 ul li a{
  background:#000000;
  text-decoration: none;
  width: 120px;
  display:inline-block;
  word-spacing: 0px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.menu2 li a:hover{
  color:red;
  opacity:0.5;
  background: black;
  font-size: 18px;
}
.image-holder
{
  width: 2400px;
  background-color: #000000;
  height: 400px;
  clear: both;
  position: relative;
  transform: translate3d(0, 0, 0);
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s ;
  animation: moveSlideshow 12s linear infinite;
}
container{
  background: #000000;
  width: 100%;
  height: 100%;
  margin-left: 50px;
} 
.exc: hover {
  font-size: 16px !important;
}

.slider-holder
        {
            width: 10000px;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            text-align: center;
            overflow: hidden;
        }
        
        .slider-image
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
            transform: translate3d(0, 0, 0);
            animation: moveSlideshow 12s linear infinite;
        }
        @keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}
.poster{
    margin: 10px 10px 10px 10px ;
    display: inline-block;
    position: relative;
    margin-left: 30px;
}
/* Hover Images */
.poster {
  overflow: hidden;
}
.poster img {
  transition: transform .5s ease;
}
.poster:hover img {
  transform: scale(1.2);
}

.flim{
  text-align: center;
  position: absolute;
  bottom: 0%;
  background: #000000;
  background: #00000080;
  color: #ffffff;
  width: 100%;
}  
.hr{
  width: 95%;
  height: 2px;
  color: #000000;
}
maincontainer{
  background: #000000;
  margin: -40px 35px 36px 1px;
  width: 100%;
}
.maincontainer  h2{
 color: red;
 margin-left: 50px;
}
.foot{
    text-align: center;
    background-color: #000000;
    color: red;
    height: 50px;
    margin: 30px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000; 
  background-color:  #00000066; 

}
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.buttonmodal button{
  margin-left: 50%;
  margin-top: 10%;
  margin-right: 50%;
  margin-bottom: 50%;
  background:red;
  color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  padding:7px;
  border: none;
  font-size: 25px;
}

body.active{
  background: #ffffff;
}
.menu.active{
  background: #ffffff;
}
.menu ul li a.active{
  background: #ffffff;
  color: #000;
}
.toggle.active{
  background: #000;
}
.toggle-container.active{
  background: #fff;
  transform: translateX(-20px);
}
button.active{
  color: #000;
}
marquee.active{
  background: #ffffff;
}
.logo.active{
  background: #ffffff;
}

.menu2.active{
  background: #ffffff;
}
.menu2 ul li a.active{
  background: #ffffff;
  color: #000;
}
.image-holder.active{
  background: #ffffff;
}
.container.active{
  background: #ffffff;
}
.flim.active{
  background: #ffffff;
  background: #ffffff;
  color: #000; 
}
.hr.active{
  color: #000; 
}
.maincontainer.active{
  background: #ffffff;
}
.foot.active{
  background-color: #ffffff;
}
.close.active{
  color: #000;
}
.close:hover,.close:focus.active {
  color: #000; 
}
.modal.active{
  background-color: #ffffff;
}
.modal-content.active {
  background-color: #000;
}
.buttonmodal button.active{
  color: #000;
}
.online.active{
  background-color: #ffffff;
}



/* Contact Us CSS starts*/
.box{
  background: url("https://cdn.pixabay.com/photo/2017/09/17/08/39/curtain-2757815_960_720.png");
  color: white;
  text-align:center;
  z-index:1;
}
.text{
    padding: 100px 0;
}
.box p{
  font-size:18px;
}
.red{
  color:orangered;
}
.redline{
  width:100px;
  height:3px;
  background-color:red;
  border:none;
}
.touch h2{
  padding-top: 20px;
  text-align: center;
  color: #fefefe;
}
.form-margin{
  margin-top: 40px;
}
.left{
  text-align:left;
}
h3{
  font-variant:bold;
  color:#fefefe;
}
.redline-address{
  border:none;
  height:3px;
  background-color:orangered;
  width:140px;
  margin-bottom:20px;
}
.address{
  padding-top: 50px;
}
.address p{
  font-weight:bold;
  color: #afadad;
  margin:3px;
}
.phone-e{
  padding:15px 0;
}
.c_logo img{
  height:100px;
  width:100px;
  z-index:2;
  float:left;
  margin-top:10px;
}
.bottom-gap{
  margin-bottom:100px;
}
/*validation css*/
input.ng-valid {
  background-color:#dff0d8;
}
input.ng-invalid {
    background-color:#f2dede;
}
input.ng-pristine{
  background-color:white;
}
textarea.ng-invalid {
    background-color:#f2dede;
}
textarea.ng-pristine{
  background-color:white;
}
textarea.ng-valid {
  background-color:#dff0d8;
}

/* contact us CSS ends */

.scroll-bar {
	height: auto;
	width: auto;
	margin: auto;
  overflow-y:auto;
  overflow-x: hidden;
	max-width: 95%;
}

::-webkit-scrollbar-track
{
	border: 5px solid #2c2f30;
	// border color does not support transparent on scrollbar
	// border-color: transparent;
	background-color:black;
}

::-webkit-scrollbar
{
	width: 15px;
	background-color: #2c2f30;
}

::-webkit-scrollbar-thumb
{
	background-color:red;
	border-radius: 10px;
}

