*{
margin: 0;
padding: 0;
box-sizing:border-box;
}
body {
  background: black;
  margin: 0;
}
section{
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100vh;
  background-color: rgb(56, 1, 1);
}
section div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: inset 0 60px 150px rgba(0, 0,0, 1);
  border-bottom: 1px solid #fff;
  animation: animate 1s ease-in-out forwards;
}
@keyframes animate{
  0%{
    transform: translate(-50%, -50%) scale(0);
  }
  100%{
    transform: translate(-50%, -50%) scale(1);
  }
}
section div:nth-child(1){
  width:1500px ;
  height: 1500px;
  animation-delay: 0s;
}
section div:nth-child(2){
  width:1250px ;
  height: 1250px;
  animation-delay: 0.5s;
}
section div:nth-child(3){
  width:1000px ;
  height: 1000px;
  animation-delay: 1s;
}
section div:nth-child(4){
  width:750px ;
  height: 750px;
  animation-delay: 1.5s;
}
section div:nth-child(5){
  width:500px ;
  height: 500px;
  animation-delay: 1.5s;
}
section div:nth-child(6){
  width:270px ;
  height: 270px;
  animation-delay: 2s;
}
section div:nth-child(6) img{
  background-position: center;
  max-width: 200px;
  z-index: -1;
  transform: translateY(500px);
  animation: animateLogo 1s ease-in-out forwards;
  animation-delay: 2.5s;
}
@keyframes animateLogo {
  0%{
    transform: translateY(500px);
  }
  100%{
    transform: translateY(0px);
  }
}
.menu {
  background: black;
  overflow: auto;
}

/* Navbar Css  */
#header-nav .nav-link {
  color: white;
  font-size: 20px;
  margin-left: 20px;

}

.menu li a:hover {
  color: red !important;
  opacity: 0.5;
}

marquee {
  color: red;
  font-size: 25px;
  font-family: Arial;
  background: black;
}
.logo {
  width: 110px;
  height: 90px;
  padding: 3px;
  margin: 0;
  padding: 0;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-left: 0px !important;
  }
  .row>*{
    padding-left: 0px !important;
  }
.online {
  color: red;
  font-size: 27px;
  padding: 10px 25px;
  text-align: center;
  display: block;
  background: black;
}
#variety{
  margin-bottom: 2rem;
}



.buddy {
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

.slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
}

.slide_track {
  display: flex;
  width: calc(250px * 20);
  animation: scroll 15s linear infinite;
}

.slide_track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 10));
  }
}

.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

img {
  width: 100%;
  transition: transform 1s;
}

img:hover {
  transform: translateZ(20px);
}

/* Gradient shadows*/

.slider::before,
.slider::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

container {
  background-color: black;
  width: 100%;
  height: 100%;
  margin-left: 50px;
}
.poster {
  margin: 10px 10px 10px 10px;
  display: inline-block;
  position: relative;
  margin-left: 30px;
}
/* Hover Images */
.poster {
  overflow: hidden;
}

.flim {
  text-align: center;
  position: absolute;
  bottom: 0%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
}
.hr {
  width: 95%;
  height: 2px;
  color: black;
}
maincontainer {
  background-color: black;
  margin: -40px 35px 36px 1px;
  width: 100%;
}
.maincontainer h2 {
  color: red;
text-align: center;
}
.foot {
  text-align: center;
  background-color: black;
  color: red;
  height: 50px;
  margin: 30px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.buttonmodal button {
  margin-left: 50%;
  margin-top: 10%;
  margin-right: 50%;
  margin-bottom: 50%;
  background: red;
  color: white;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  padding: 7px;
  border: none;
  font-size: 25px;
}
.contactForm{
  margin: 5px;
}
/* Contact Us CSS starts*/
.box {
  background: url("https://cdn.pixabay.com/photo/2017/09/17/08/39/curtain-2757815_960_720.png") no-repeat center center/cover;
  color: white;
  text-align: center;
  z-index: 1;
}
.text {
  padding: 100px 0;
}
.box p {
  font-size: 18px;
}
.red {
  color: orangered;
}
.redline {
  width: 0px;
  height: 3px;
  background-color: red;
  border: none;
}
.touch h2 {
  padding-top: 20px;
  text-align: center;
  color: #fefefe;
}
.form-margin {
  margin-top: 40px;
}
.left {
  text-align: left;
}
h3 {
  font-variant: bold;
  color: #fefefe;
}
.redline-address {
  border: none;
  height: 3px;
  background-color: orangered;
  width: 140px;
  margin-bottom: 20px;
}
.address {
  padding-top: 50px;
}
.address p {
  font-weight: bold;
  color: #afadad;
  margin: 3px;
}
.phone-e {
  padding: 15px 0;
}
.c_logo img {
  height: 100px;
  width: 100px;
  z-index: 2;
  float: left;
  margin-top: 10px;
}
.bottom-gap {
  margin-bottom: 100px;
}
/*validation css*/
input.ng-valid {
  background-color: #dff0d8;
}
input.ng-invalid {
  background-color: #f2dede;
}
input.ng-pristine {
  background-color: white;
}
textarea.ng-invalid {
  background-color: #f2dede;
}
textarea.ng-pristine {
  background-color: white;
}
textarea.ng-valid {
  background-color: #dff0d8;
}

/* contact us CSS ends */

.scroll-bar {
  height: auto;
  width: auto;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
	max-width: 100%;
}

::-webkit-scrollbar-track {
  border: 5px solid #2c2f30;
  /* border color does not support transparent on scrollbar
  // border-color: transparent;*/
  background-color: black;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #2c2f30;
}

::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
}

/* CSS FOR FOOTER */
.footer{
margin-bottom:15px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-content{
  display:flex;
  justify-content:space-between;
  padding: 10px 20px;
}
.footer-logo{
  width: 150px;
  height: 120px;
  padding: 3px;
  margin:0px 0px 0px 10px;
  padding: 0;
}
.footer-heading{
  color:white;
}
.footer-left, .footer-right, .footer-middle{
text-align:center;
}
.icons{
  margin-left:-30px;
}
.footer-links i{
font-size:30px;
width:40px;
height:40px;
margin-top:30px;
}
.footer-middle a i:hover{
background-color:red;
padding:5px;
border-radius:50px;
color:black;
}
.footer-middle-list-item{
list-style:none;
font-size:15px;
font-family:cursive;
margin:5px 0px 0px 15px;
text-align:left;
}
.footer-middle-list-item a{
text-decoration:none;
color:white;
}
.footer-middle-list-item a:hover{
color:red;
}
.footer-right{
  margin-top:-15px;
}
.footer-contact-button{
font-size:20px;
background-color:red;
color:white;
padding:10px;
border:none;
border-radius:10px;
text-decoration:none;
}
.footer-contact-button:hover{
background-color:white;
color:red;
}
.footer-bottom-tagline{
color:white;
font-size:15px;
font-family:cursive;
margin-bottom:25px;
}

#footer-hr{
color:red;
width:95vw;
}
.footer-copyright{
text-align:center;
color:white;
margin-top:20px;
font-size:18px;
}

/* .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);} */

/***************** Media Queries *********************/

@media (max-width: 600px) {
.footer-content{
   display:block;
   text-align:center;
}
.footer-middle-list-item{
  text-align:center;
  margin-left:-20px;
}

.footer-left, .footer-middle, .footer-right{
  margin-top:50px;
}

}

#waterdrop {
  height: 30px;
}

#waterdrop canvas {
  bottom: -70px !important;
}


/* Cursor Added */

#Movies img:hover{
  cursor: pointer;
}
#Movies b:hover{
  cursor: pointer;
}

#WebSeries img:hover{
  cursor: pointer;
}
#WebSeries b:hover{
  cursor: pointer;
}
#Kids img:hover{
  cursor: pointer;
}
#Kids b:hover{
  cursor: pointer;
}
